### 6_Multivariate Analysis Assignment

In this assignment, you will continue to study the data of the US Education System (dataset). You can reach the explanations of this data from Kaggle again.

To complete this assignment, submit the Github link of the Jupyter notebook file containing solutions to the questions below. You can talk to your mentor on your head or ask Slack at office time.

1, Does the performance in the exams vary according to gender, origin and education level of parents?
2, Does lunch type have a relationship with exam performances? How can you explain this, if any?
3, Does the preparation courses have an impact on exam performance?
4, Which lessons are most correlated with each other?

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Datasets/StudentsPerformance.csv')
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75